<style>
  .bm {
      margin-bottom: 3px;
  }
</style>


<div style="text-align: center">
  <!--- Recall there are three across, so image width should be considered in context --->
  <img srcset="{{ page.sec }}-720w.webp 1x, {{ page.sec }}-1440w.webp 2x" class="bm" style="width: 32%;" alt="Sectional on Phone">
  <img srcset="{{ page.tac }}-720w.webp 1x, {{ page.tac }}-1440w.webp 2x" class="bm" style="width: 32%;" alt="Terminal on Phone">
  <img srcset="{{ page.fly }}-720w.webp 1x, {{ page.fly }}-1440w.webp 2x" class="bm" style="width: 32%;" alt="Flyway on Phone" >
  <img srcset="{{ page.ifr }}-720w.webp 1x, {{ page.ifr }}-1440w.webp 2x" class="bm" style="width: 32%;" alt="IFR low Phone" >
  <img srcset="{{ page.plt }}-720w.webp 1x, {{ page.plt }}-1440w.webp 2x" class="bm" style="width: 32%;" alt="Plate on Phone" >
</div>
